<!-- ARTICLE DETAIL VIEW -->
<div class="content-grid-container">
  <div class="grid-container outline">
    <div class="row">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
<!--       {{#each fields.hero_image}}
        <div class="article-header-image show_image" style="background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)),url('{{url}}');">
            <h1>{{title}}</h1>
        </div>
      {{/each}} -->
      <div class="col-6 spacer"></div>
      <div class="col-4 center-div">
        <h3>{{fields.title}}</h3>
      </div>
      <div class="col-4 center-div">
        <p>{{format_date published_on "d" "us"}}</p>
      </div>
      <div class="col-4 center-div center-image">
        <p>{{{fields.content}}}</p>
      </div>
      <div class="col-6 spacer"></div>
    </div> <!-- row -->
  </div> <!-- grid-container -->
</div>