.thumbnail{
  background-color: red;
}

.article{
  display: block;
}

.article-list-text{
  .article-list-date{
    padding-top: 20px;
  }
  .article-list-title{
    padding-top: 20px;

  }
}

.thumbnail{
  height: 115px;
  background-position: center center;
  img{
    width: auto;
    height: 100% !important;
  }
}