/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  @include font($body-font, none, 300)
}

h1{
  @include font($header-font, uppercase, 300)
  letter-spacing: 4px;
}

h2, h3, h4, h5{
  @include font($header-font, none, 200)
  letter-spacing: 2px;
  margin: 10px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ADDS RED BORDER TO DIVS
div{
  border: 1px solid red;
}

.wrapper{
  display: block;
}

header{
  height: 80px;
  border-bottom: 1px solid;
}

.logo_container{
  padding-left: 25px;
  padding-top: 19px;
  display: inline-block;
  .center_text{
    font-size: 1em;
  } 
}

.header_nav{
  display: inline-block;
}

// .social_icons{
//   height: 200px;
// }

.home_hero{
  min-height: 70vh;
  min-width: 100%;
  background-color: lightgray;
  background-image: url(../media/lightjump.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // padding-top: 30vh;
}

.hero_logo_image{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  margin-top: -300px;
  margin-left: -225px;
}

.welcome_headline{
  text-align: center;
  padding: 50px;
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
}

.main_content{
  width: 80%;
  margin: auto;
  p{
    padding: 15px;
    line-height: 1.5;
  }
}
.ayahuasca_summary_image{
  background-image: url(../media/ayahuasca_summary_image.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ajnalight_summary_image_1{
  background-image: url(../media/ajnalight_setup.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ajnalight_summary_image_2{
  background-image: url(../media/ajnalight_brain_effect.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// .hero_logo{
//   height: 100%;
//   width: 100%;
//   background: url(../media/illustrator_logo.png) center center no-repeat;
// }
// .hero_container{
//   padding: 5% 0; 
//   text-align: center;
//   width: 50%;
//   margin: auto;
//   h1{
//     font-size: 2em;
//     color: white;
//   }
//   h3{
//     font-size: 1em;
//     color: white;
//     margin: 30px 0;
//   }
// }

.subscribe_form{
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
  }
  input[type=submit]{
    width: 50%;
    background-color: #638bce;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block
  }
  input[type=submit]:hover {
    background-color: #4c7ac7;
  }
}

.welcome_intro{
  padding: 5%;
  text-align: center;
  background-color: #f6f3ee;
}

.section_break{
  padding: 4.5%;
  text-align: center;
  background-color: #f6f3ee;
}


// ABOUT PAGE
.about_hero_container{
  width: 600px;
  text-align: center;
  margin: auto;
}
.about_hero_image{
  background-image: url(../media/ajna_image.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-align: center;
  margin-top: 80px;
  img{
    width: 100%;
    max-height: 100%;
  }
}

.about_hero_headline{
  margin-top: 90px;
  font-size: 1.8em;
  text-align: center;
  padding-top: 130px;
}
.about_hero_subheadline{
  margin-top: 25px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 80px;
  text-align: center;
}

.our_mission{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about_us_image{
  background-image: url(http://kentuckyfriedwrestling.com/theword2/wp-content/uploads/sidhorsemen.jpg);
  min-height: 500px;
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 50px;
  margin: auto;
}

.about_our_story{
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  h1{
    text-align: center;
  }
}

.reach_out_section{
  height: 800px;
  background-color: #f6f3ee;
}

// ABOUT page form
.reach_out_form_container{
  width: 50%;
  margin: auto;
  .reach_out_form{
    input[type=text], select {
      width: 100%;
      margin: 8px 0;
      border-radius: 4px;
      box-sizing: border-box;
      display: block;
      // margin: auto;
    }
    input[type=submit]{
      width: 100%;
      background-color: #272822;
      color: white;
      font-size: 1em;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      padding: 14px 20px;
      margin: 8px 0;
      display: block;
      // margin: auto;
    }
    input[type=submit]:hover {
      background-color: #4c7ac7;
    }
  }
}
.comment_field{
  padding: 12px 20px;
}

.comment_response_field{
  padding: 12px 0px 200px 20px;
}

.footer_nav_container{
  background-color: #272822;
  display: block;
  height: 110px;
  border-bottom: solid 0.5px lightgray;
  .footer_logo{
    padding-top: 20px;
  }
}

.footer_contact{
  background-color: #272822;
  height: 60px;
  text-align: center;
  display: block;
  padding-top: 10px;
  color: white;
  ul{
    li{
      display: inline-block;
    }
  }
}


