// GUIDES FOR GRID
// .outline, .outline *{
//     outline: 1px solid #F6A1A1; 
// }

.spacer{
  height: 30px;
}

.content-grid-container{
  background-color: white;
  text-align: center;
}
.page-header{
  height: 200px;
  background-color: rgba(55, 25, 86, 0.9);
  padding-top: 100px;
  padding-left: 30px;
  text-align: left;
  h1{
    color: white;
  }
}
.grid-container{
    display: inline-block;
    width: 80%; 
    text-align: left;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    clear:both;
    display: table;
    text-align: center;
    margin: 0 auto;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 12px; 
    // background-color: #FFDCDC;
    box-sizing: border-box; 
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

/*-- some extra column content styling --*/
[class*='col-'] > p {
 // background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: left; 
}

 @media all and (max-width:100%){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 83.33%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
}

  @media all and (max-width: 100%){
    .col-1{ width: 50%;     }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
}