nav ul{
  
  list-style-type: none;
  padding-left: 10px;
}
nav{
  h1:hover{
    cursor: default;
  }
}

// header nav list
.header_nav{
  float: right;
  padding-top: 27px;
  padding-right: 25px;
}
.nav_inline{
  ul {
    li {
      display: inline-block;
      h1{
        color: red;
      }
      a {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1.7px;
        &:hover{
          color: #D8D8D8;
          border-bottom: 1px solid;
        }
      }
    }
  }
}

// .breadcrumbs{
//   padding: 20px 0;
//   // border-bottom: 1px solid $active-item;
//   ul{
//     li{
//       display: inline-block;
//       padding: 0 10px;

//       &:last-child{
//         // color: $active-item;
//         // @media #{$breakpoint-small-below}{
//           margin-top: 5px;
//         }
//       }
//     }
//   // }
// }