//Font
$nav-font: 'Oxygen', sans-serif;

$body-font: 'Oxygen', sans-serif;
$header-font: 'Raleway', sans-serif;

//Header and Footer
$base-color-1: #272822;
$nav-color: #272822;

//Breakpoints
$breakpoint-small-below: 'only screen and (max-width: 30em)';
$breakpoint-small: 'only screen and (min-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 30em)';
$breakpoint-medium-between: 'only screen and (max-width: 85.666em)';