//Font
$nav-font: 'Lato', sans-serif;
$body-font: 'PT Serif', serif;
$header-font: 'Lato', sans-serif;

//Header and Footer
$base-color-1: rgba(black,.8);
$nav-color: #272822;

// Highlight Color


//Breakpoints
$breakpoint-small-below: 'only screen and (max-width: 30em)';
$breakpoint-small: 'only screen and (min-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 30em)';
$breakpoint-medium-between: 'only screen and (max-width: 85.666em)';