<!-- ABOUT PAGE VIEW -->
<div class="content-grid-container">
  {{#each fields.hero_image}}
    <div class="article-header-image show_image" style="height: 600px; background-image: linear-gradient(rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)),url('{{url}}');">
        <h1>{{title}}</h1>
    </div>
  {{/each}}
  <div class="grid-container outline">
    <div class="row">
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-4 center-div">
        <h1>{{fields.headline_1}}</h1>
      </div>
      <div class="col-4 center-div">
        <p>{{{fields.content_1}}}</p>
      </div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-4 center-div">
        <h1>{{fields.headline_2}}</h1>
      </div>
      <div class="col-4 center-div">
        <p>{{{fields.content_2}}}</p>
      </div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
    </div>
  </div> 
</div>