<div class="wrapper">
  <!-- HERO -->
  <div class="home_hero">
    <!-- <iframe width="100%" height="640" src="https://www.youtube.com/embed/7sKH8kN9gXA" frameborder="0" allowfullscreen> </iframe> -->
    <div class="hero_container">
      <h1>{{fields.hero_headline_1}}</h1>
      <h1>{{fields.hero_headline_2}}</h1>
      <h3>{{fields.hero_subheadline}}</h3>
    </div>
  </div>
  <!-- HERO_end -->
  <!-- About_intro -->
  <div class="welcome_intro">
    <div class="intro_headline">
      <h1>About Ajnahuasca</h1>
      <h3>*insert about subheading here*</h3>
    </div>
  </div>
  <!-- GRID_begin -->
  <div class="container-fluid overHidden">
    <!-- GRID_left_column -->
    <div class="block">
      <div class="block--item image-1 full-image">
        <div class="table-center">
          <div>
            <h4 class="title">How it Works</h4>
            <h4 class="subtitle">subheadline</h4>
            <p>This is how it works blah blah blah</p>
          </div>
        </div>
      </div>
    </div>
    <!-- GRID_right_column -->
    <div class="block">
      <div class="block--item image-2 full-image">
        <div class="table-center">
          <div>
            <img src="#" alt="">
          </div>
        </div>
      </div>
      <div class="block--item image-3 full-image">
        <div class="table-center">
          <div>
            <h4 class="title">testing right column</h4>
            <h4 class="subtitle">subheading</h4>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- GRID_end-->

  <!-- TURN ON FOR SINGLE COLUMN ROW -->
  <!--     <div class="block_single">
    <div class="block--item image-4 full-image">
      <div class="table-center">
        <div>
          <h4 class="title">Questions About Ajnahuasca</h4>
          <h4 class="subtitle">Commonly asked questions</h4>
          <a href="/faq"></a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- TURN ON FOR DOUBLE COLUMN ROW -->
  <div class="container-fluid overHidden">
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title">Questions About Ajnahuasca</h4>
            <h4 class="subtitle">Commonly asked questions</h4>
            <a href="/faq"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title">Become a Provider</h4>
            <h4 class="subtitle"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel_welcome">
    <div class="intro_headline">
      <h1>Youtube Videos</h1>
      <h3>*insert welcome subheading here*</h3>
    </div>
  </div>
  <!-- Video Tile Carousel Section -->
  <div class="container-fluid overHidden">
    <div class="video_carousel">
      <div class="block_triple">
        <div class="block--item gray-light">
          <div class="table-center">
            <div class="title_container">
              <h4 class="title">Guy Interview</h4>
              <h4 class="subtitle">youtube</h4>
              <div class="video-container">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/7sKH8kN9gXA" frameborder="0" allowfullscreen> </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block_triple">
        <div class="block--item gray-light">
          <div class="table-center">
            <div class="title_container">
              <h4 class="title">Dennis Mckenna</h4>
              <h4 class="subtitle">youtube</h4>
              <div class="video-container">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/gx86O-nkUuc" frameborder="0" allowfullscreen> </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block_triple">
        <div class="block--item gray-light">
          <div class="table-center">
            <div class="title_container">
              <h4 class="title">Peter Pickel</h4>
              <h4 class="subtitle">youtube</h4>
              <div class="video-container">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/gx86O-nkUuc" frameborder="0" allowfullscreen> </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
