<div class="wrapper">
  <div class="about_hero">
    <div class="about_hero_container">
      <div class="about_hero_image">
        <img src="../assets/media/ajna_image.png" alt="">
        <h1>{{fields.hero_headline_1}}</h1>
        <h2>{{fields.hero_headline_2}}</h2>
      </div>
    </div>
  </div>
  <div class="section_break">
    <h1>Learn about Ajnahuasca Experiences</h1>
  </div>

  <div class="about_container-fluid overHidden">
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title">How it Works</h4>
            <h4 class="subtitle">Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light Light</h4>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title"></h4>
            <h4 class="subtitle">How it works IMAGE</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title"></h4>
            <h4 class="subtitle">Benefits IMAGE</h4>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="block--item gray-light">
        <div class="table-center">
          <div>
            <h4 class="title">Benefits of the Light</h4>
            <h4 class="subtitle">Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits Benefits </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_break">
    <h1>Try a Ajnahuasca Session</h1>
  </div>
  <div class="founders_section">
    <div class="founder_info">
      <h1>The Founders</h1>
      <h2>Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders Founders </h2>
    </div>
  </div>
</div>