<div class="wrapper">
  <div class="content_wrapper">
    <div class="reach_out_section section">
      <div class="reach_out_headline section heading_font">
        <h1>We want to hear from you</h1>
        <h2>Leave us a message below</h2>
      </div>
      <div class="container">
        <!-- Play error messages -->
        <div id="form-messages"></div>  
          <div class="contact_form">
            <form action="https://docs.google.com/forms/d/1Zo6jGqLy5Xd4cNztQ49OPgpBP8TXUWQ84EkP9ykEuqc/formResponse" id="contact-form" method="POST" target="hidden_iframe">
              <div class="fieldset">
                <input type="text" name="entry.773169917" placeholder="First Name" value="" id="entry_773169917">
              </div>
              <div class="fieldset">
                <input type="text" name="entry.1356310070" value="" placeholder="Last Name" id="entry_1356310070">
              </div>
              <div class="fieldset">
                <input type="text" name="entry.598479519" value="" placeholder="Email" id="entry_598479519">
              </div>
              <div class="text_area">
                <input type="text" name="entry.783862788" value="" placeholder="Please leave us a message" id="entry_783862788">
              </div>
              <div class="fieldset"> 
                  <button onclick="clearFields()" type="submit" id="contact_submit" name="submit" value="Submit">Send Message</button>
              </div>
            </form>
          </div> <!-- contact_form -->
        </div> <!-- form-messages -->
      </div> <!-- container -->
    </div>
  </div>
</div>