<div class="wrapper">
  <div class="reach_out_section section">
      <div class="reach_out_headline section heading_font">
        <h1>We want to hear from you</h1>
        <h2>Leave us a message below</h2>
      </div>
      <div class="reach_out_form_container">
        <div class="reach_out_form">
          <form action="#">
            <input class="comment_field" type="text" id="name" name="name" placeholder="Your name...">
            <input class="comment_field" type="text" id="email" name="email" placeholder="Your email...">
            <input class="comment_response_field" type="text" id="reach_out_comment" name="reach_out_comment" placeholder="Please leave us a message...">
            <input type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
</div>