<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ajnahuasca</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AJNAHUASCA SHORT DESCRIPTION">
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
  <div class="wrapper">
    <!-- HERO -->
    <div class="home_hero">
      <div class="hero_container">
        <h1>{{hero_headline}}</h1>
        <h2>{{hero_subline}}</h2>
        <a href="#">Learn More</a>
      </div>
    </div>
    <!-- HERO_end -->
    <!-- GRID_begin -->
    <div class="container-fluid overHidden">
      <!-- GRID_left_column -->
      <div class="block">
        <div class="block--item__double image-1 full-image">
          <div class="table-center">
            <div>
              <h4 class="title">Experience Ajnahuasca</h4>
              <h4 class="subtitle">Find a Light</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- GRID_right_column -->
      <div class="block">
        <div class="block--item gray-light">
          <div class="table-center">
            <div>
              <h4 class="title">What is Ajnahuasca?</h4>
              <h4 class="subtitle">Our Story</h4>
            </div>
          </div>
        </div>
        <div class="block--item image-3 full-image">
          <div class="table-center">
            <div>
              <h4 class="title">Real Experiences</h4>
              <h4 class="subtitle">Share. Read. Explore</h4>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- GRID_end-->
    <div class="container-fluid overHidden">
      <div class="block">
        <div class="block--item image-3 full-image">
          <div class="table-center">
            <div>
              <h4 class="title">FAQ</h4>
              <h4 class="subtitle">Have Questions?</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block--item gray-light">
          <div class="table-center">
            <div>
              <h4 class="title">Become a Vendor</h4>
              <h4 class="subtitle">Our Program</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>