<div class="wrapper">
  <div class="home_hero">
    <div class="hero_logo">
      <!-- <img class="hero_logo_image" src="./assets/media/illustrator_logo.png" alt=""> -->
    </div>
  </div> <!--home_hero-->
  <div class="welcome_headline heading_font">
    <h1>{{fields.welcome_headline}}</h1>
    <h2>{{fields.welcome_subheadline}}</h2>
  </div>
  <div class="main_content">
    <div class="main_content_heading section heading_font">
      <h1>{{fields.about_headline}}</h1>
      <h2>{{fields.about_subheadline}}</h2>
    </div>
    <div class="ayahuasca_summary heading_font">
      {{{fields.ayahuasca_summary}}}
    </div>
    <div class="ayahuasca_summary heading_font">
      {{{fields.ajnalight_summary}}}
    </div>
  </div>
</div>
