<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AJNAHUASCA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <header>
    <div class="logo_container clearfix"><a href="/"></a></div>
    <div class="header_nav">
      <nav class="nav_inline">
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
<!--     <div class="social_icons nav_inline">
      <ul class="social_inline">
        <li><a href="#" class="facebook_link"></a>blah</li>
        <li><a href="#" class="youtube_link"></a>bla</li>
        <li><a href="#" class="twitter_link"></a>bl</li>
      </ul>
    </div> -->
  </header>

  <body>
    {{{ template }}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/scripts/app.js"></script>
  </body>

  <footer>
    <div class="footer_nav_container">
<!--       <div class="footer_logo">
        <a href="/home" class="logo_link"><h2 class="center_text">AJNAHUASCA</h2></a>
      </div>
      <nav class="nav_inline">
        <ul>
          <li><a href="/about" class="col-3">ABOUT</a></li>
          <li><a href="/testimonials" class="col-3">FAQ</a></li>
          <li><a href="#" class="col-3">CONTACT</a></li>
        </ul>
      </nav>
    </div> -->
    <div class="footer_nav_inline">
      <nav>
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer_contact">
      <ul>
        <li><span><h1>AJNAHUASCA</h1></span></li>
        <li>  |  </li>
        <li><h2>555.555.5555</h2></li>
        <li>  |  </li>
        <li><h2>info@ajnahuasca.com</h2></li>
      </ul>
    </div>
  </footer>
</html>