<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AJNAHUASCA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script src="/assets/scripts/responsive-nav.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  </head>
  <header>
    <div class="logo_container clearfix"><a href="/" data-scroll></a></div>
    <a href="/" class="logo" data-scroll></a>
    <div class="header_nav">
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item"><a href="/about" data-scroll>ABOUT</a></li>
          <li class="menu-item"><a href="/faq" data-scroll>FAQ</a></li>
          <li class="menu-item"><a href="/contact" data-scroll>CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    {{{ template }}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <script src="/assets/scripts/fastclick.js"></script>
    <script src="/assets/scripts/scroll.js"></script>
    <script src="/assets/scripts/fixed-responsive-nav.js"></script>
  </body>

  <footer>
    <div class="footer_nav_container">
      <div class="footer_nav_inline">
        <nav>
          <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer_contact">
        <ul>
          <li><span><h1>AJNAHUASCA</h1></span></li>
          <li>  |  </li>
          <li><h2>555.555.5555</h2></li>
          <li>  |  </li>
          <li><h2>info@ajnahuasca.com</h2></li>
        </ul>
      </div>
    </div>
  </footer>
</html>