<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>AJNAHUASCA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="compartments/styles/styles.css"> -->
        <link rel="stylesheet" href="/assets/styles/styles.css">
      </head>
      <header>
        <div class="logo_container">
          <a href="/" class="logo_link"><h2 class="center_text">AJNAHUASCA</h2></a>
        </div>
      </header>

      <body>
        {{{ template }}}
      </body>

      <footer>
        <div class="logo_container">
          <div class="left">
            <a href="/" class="logo_link"><h2 class="center_text">AJNAHUASCA</h2></a>
          </div>
          <nav class="main_nav row">
            <ul class="col-10 right medium">
              <li><a href="#" class="col-3">ABOUT</a></li>
              <li><h1>/</h1></li>
              <li><a href="#" class="col-3">EXPERIENCES</a></li>
              <li><h1>/</h1></li>
              <li><a href="#" class="col-3">LOCATE</a></li>
              <li><h1>/</h1></li>
              <li><a href="#" class="col-3">CONTACT</a></li>
            </ul>
        </div>
        </nav>
      </footer>
    </html>