/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

a:active,
a:hover {
  outline: 0; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  height: 100%;
  background-color: #f5f5f5;
  font-family: "PT Serif", serif;
  text-transform: none;
  font-weight: 300;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

p {
  font-size: 1em;
  line-height: 1.5em; }

@media screen and (max-width: 40em) {
  p {
    font-size: 1em;
    line-height: 1.55em; } }

h1 {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.25em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px; }

h2 {
  font-size: 24pt;
  line-height: 1.25em; }

a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
  color: black;
  font-size: 1em; }

@media screen and (max-width: 40em) {
  font-size: 1.625em;
  line-height: 1.15384615em; }

h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  text-transform: none;
  font-weight: 200;
  letter-spacing: 2px; }

ol, ul {
  list-style: none; }

li {
  text-align: center; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.base_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }

.content_wrapper {
  padding-top: 20px;
  padding-bottom: 120px;
  background-color: #fff; }

@media screen and (min-width: 40em) {
  .content_wrapper {
    margin-right: 20%;
    margin-left: 20%; } }

@media screen and (max-width: 40em) {
  .header_nav {
    display: none; }
  .header_nav.open_tray {
    display: block; }
  .content_wrapper {
    margin: 10px; } }

@media screen and (max-width: 40em) {
  .header_nav {
    margin-right: 0; } }

.show_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.video-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 660px;
  margin-top: -615px; }

.hero-video {
  height: 560px;
  margin-top: 90px;
  max-width: 900px;
  float: none !important; }

.video-container {
  overflow: hidden;
  margin: 0 auto;
  text-align: center; }

.video-container iframe, .video-container object, .video-container embed {
  top: 0;
  left: 0;
  height: 475px;
  margin-top: 90px; }

.heading_font {
  text-align: center; }
  .heading_font h1 {
    padding-bottom: 15px; }
  .heading_font h2 {
    font-size: 1.2em; }

.head_section {
  padding-top: 130px;
  padding-bottom: 80px; }
  .head_section h1, .head_section h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }

.home_summary {
  padding-bottom: 80px; }
  .home_summary h1, .home_summary h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }

.summary_content {
  margin-bottom: 40px; }
  .summary_content p {
    text-align: center; }

.welcome_headline {
  text-align: center; }

.main_content {
  margin: auto; }
  .main_content h1 {
    line-height: 1.5; }
  .main_content p {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5;
    text-align: left; }

@media screen and (max-width: 40em) {
  img {
    width: 100%; } }

.faq_qa h2 {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5; }

.faq_qa p {
  font-size: 1em; }

.reach_out_form_container {
  width: 50%;
  margin: auto; }
  .reach_out_form_container .reach_out_form input[type=text], .reach_out_form_container .reach_out_form select {
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: block; }
  .reach_out_form_container .reach_out_form input[type=submit] {
    width: 100%;
    background-color: #272822;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    display: block; }
  .reach_out_form_container .reach_out_form input[type=submit]:hover {
    background-color: #4c7ac7; }

.comment_field {
  padding: 12px 20px; }

.comment_response_field {
  padding: 12px 0px 200px 20px; }

.footer_nav_container {
  background-color: rgba(0, 0, 0, 0.8); }

.footer_nav_inline nav {
  text-align: center; }

.footer_nav_inline ul {
  display: inline-block; }

.footer_nav_inline li {
  display: inline-block; }

.footer_nav_inline a {
  border-top: 0;
  padding: 15px;
  font-size: .75em;
  display: block;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  background-color: rgba(39, 40, 34, 0);
  color: #bbbbbb;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .footer_nav_inline a:hover {
    color: white; }

.footer_logo_container {
  height: 270px;
  background-color: rgba(0, 0, 0, 0.9); }

.footer_logo {
  background-image: url(http://res.cloudinary.com/airship/image/upload/v1502083257/media/logo_jag_gljdo3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 245px;
  background-position: center 25px;
  margin: auto; }

@media screen and (max-width: 40em) {
  .footer_logo_text {
    display: none; } }

/* ------------------------------------------
  FIXED HEADER NAV
--------------------------------------------- */
header {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0; }

.logo {
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
  margin-left: 18px;
  float: left;
  background-image: url(http://res.cloudinary.com/airship/image/upload/v1500956481/media/logo_fujaep.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 165px;
  height: 40px; }

@media screen and (max-width: 40em) {
  header {
    position: fixed;
    border-bottom: 1px solid #bbbbbb; }
  .logo {
    background-image: url(http://res.cloudinary.com/airship/image/upload/v1500956481/media/logo_condensed_vcjkxn.png);
    width: 130px;
    height: 40px;
    margin-top: 13px;
    border-top: 0; } }

/* ------------------------------------------
  MASK
--------------------------------------------- 


*/
.toggle_mask {
  background-color: rgba(0, 0, 0, 0.5); }

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto; } }

.nav-collapse li {
  float: left;
  width: 100%; }

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto; } }

.nav-collapse a {
  -webkit-tap-highlight-color: #cccccc;
  text-decoration: none;
  padding: 1.3em 1.5em;
  color: white;
  width: 100%;
  float: left;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-collapse a:hover {
    color: #00B5A3;
    box-shadow: inset 0 3px 0 0 #00B5A3; }

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00B5A3;
  margin: 1em 0;
  padding: 0; }

.mobile_header {
  display: none; }

@media screen and (max-width: 40em) {
  .mobile_header {
    display: inline-block;
    float: right;
    padding-top: 14px;
    padding-right: 20px; }
  a {
    border-top: 1px solid white; } }

* {
  margin: 0;
  padding: 0; }

#nav-icon {
  width: 35px;
  height: 38px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 90%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 10px; }

#nav-icon span:nth-child(4) {
  top: 20px; }

#nav-icon.open span:nth-child(1) {
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  width: 0%;
  left: 50%; }

.spacer {
  height: 30px; }

.center-div {
  display: inline-block;
  float: none !important; }

.content-grid-container {
  text-align: center;
  display: block; }

.page-header {
  height: 200px;
  background-color: rgba(55, 25, 86, 0.9);
  padding-top: 100px;
  padding-left: 30px;
  text-align: left; }
  .page-header h1 {
    color: white; }

.grid-container {
  max-width: 1200px;
  display: block;
  margin: auto; }

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  clear: both;
  display: table;
  margin: 0 auto; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  text-align: left;
  /*-- our gutter -- */
  padding: 12px;
  box-sizing: border-box;
  margin: 0 auto; }

.col-1 {
  width: 16.66%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

/*-- some extra column content styling --*/
[class*='col-'] > p {
  padding: 0;
  margin: 0; }

@media all and (max-width: 100%) {
  .col-1 {
    width: 33.33%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 83.33%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .row .col-2:last-of-type {
    width: 100%; }
  .row .col-5 ~ .col-1 {
    width: 100%; } }

@media all and (max-width: 100%) {
  .col-1 {
    width: 50%; }
  .col-2 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; } }

.article_list_header {
  border-bottom: 1px solid #00B5A3;
  padding-left: 0;
  padding-bottom: 10px; }

.article {
  height: 115px;
  padding: 5px 0; }
  .article:hover {
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .article:hover a {
      text-decoration: underline;
      color: #00B5A3; }

.article-list-text {
  padding-top: 0;
  padding-left: 30px; }
  .article-list-text .article-list-date {
    padding-top: 10px;
    font-size: .8em; }

.article-header-image {
  height: 400px; }
  .article-header-image h1 {
    text-align: left;
    font-size: 1.5em;
    text-transform: none;
    padding-top: 290px;
    padding-left: 10px;
    color: white;
    margin: 0;
    word-wrap: break; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.contact_container {
  padding-right: 10%;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.fieldset input[type="text"], .fieldset button[type="submit"], .text_area input[type='text'] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

.fieldset, .text_area {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

.fieldset input[type="text"] {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

.text_area input[type="text"] {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  padding-top: 120px;
  height: 150px; }

.fieldset input[type="text"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #00B5A3; }

.text_area input[type="text"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #00B5A3; }

.fieldset textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

.fieldset button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #00B5A3;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

.fieldset button[type="submit"]:hover {
  background: #FFF;
  box-shadow: inset -2px 0 0 #00B5A3, inset 0 -2px 0 #00B5A3, inset 2px 0 0 #00B5A3, inset 0 2px 0 #00B5A3;
  color: #00B5A3;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.fieldset button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

input:focus {
  outline: 0;
  border: 1px solid #999; }

.fieldset button[type="submit"]:focus {
  outline: 0; }
