nav ul {
  list-style-type: none;
  padding-left: 10px; }

nav h1:hover {
  cursor: default; }

.header_nav {
  float: right;
  padding-top: 27px;
  padding-right: 25px; }

.nav_inline ul li {
  display: inline-block; }
  .nav_inline ul li h1 {
    color: red; }
  .nav_inline ul li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.7px; }
    .nav_inline ul li a:hover {
      color: #D8D8D8;
      border-bottom: 1px solid; }

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%;
  font-family: "Oxygen", sans-serif;
  text-transform: none;
  font-weight: 300; }

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px; }

h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  text-transform: none;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 10px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  display: block; }

header {
  height: 80px;
  border-bottom: 1px solid; }

.logo_container {
  padding-left: 25px;
  padding-top: 19px;
  display: inline-block; }
  .logo_container .center_text {
    font-size: 1em; }

.header_nav {
  display: inline-block; }

.home_hero {
  min-height: 70vh;
  min-width: 100%;
  background-color: lightgray;
  background-image: url(../media/lightjump_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.heading_font h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 15px; }

.heading_font h2 {
  font-size: 1.5em; }

.section {
  padding-top: 50px;
  padding-bottom: 50px; }

.welcome_headline {
  text-align: center;
  padding: 50px; }

.main_content {
  width: 70%;
  margin: auto; }
  .main_content p {
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5; }

.main_content_heading {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.home_summary_image {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px; }

.ayahuasca_summary_image {
  background-image: url(../media/ayahuasca_summary_image.jpg); }

.ajnalight_summary_image_1 {
  background-image: url(../media/ajnalight_setup.png);
  background-size: contain; }

.ajnalight_summary_image_2 {
  background-image: url(../media/ajnalight_brain_effect.png);
  margin-top: 80px;
  margin-bottom: 80px;
  background-size: contain; }

.reach_out_section {
  height: 800px;
  background-color: #f6f3ee; }

.reach_out_headline {
  text-align: center; }

.reach_out_form_container {
  width: 50%;
  margin: auto; }
  .reach_out_form_container .reach_out_form input[type=text], .reach_out_form_container .reach_out_form select {
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    display: block; }
  .reach_out_form_container .reach_out_form input[type=submit] {
    width: 100%;
    background-color: #272822;
    color: white;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    display: block; }
  .reach_out_form_container .reach_out_form input[type=submit]:hover {
    background-color: #4c7ac7; }

.comment_field {
  padding: 12px 20px; }

.comment_response_field {
  padding: 12px 0px 200px 20px; }

.footer_nav_container {
  background-color: #272822;
  display: block;
  height: 110px;
  border-bottom: solid 0.5px lightgray; }
  .footer_nav_container .footer_logo {
    padding-top: 20px; }

.footer_contact {
  background-color: #272822;
  height: 60px;
  text-align: center;
  display: block;
  padding-top: 10px;
  color: white; }
  .footer_contact ul li {
    display: inline-block; }
